<h1>Role Details</h1>
<div><img src="../../assets/profile.png" width="50%"></div>


<h2>Actor</h2>
<div class="results" >
    <div>
      <div>
      <u><h3 id="upperLabel">Primary Responsibilities</h3></u>
      </div>
      <div style="width: 75%; position: relative; left:12.5%">
          <ul>
            <li>Interpret serious or comic role by speech, gesture, and body movement to entertain or inform audience for stage, motion picture, television, radio, or other media production.</li>
            <li>Rehearse and memorize lines.</li>
            <li>Entertain, convey characters and express emotions in front of a live audience.</li>
            <li>Take cues from director.</li>
            <li>Use body language and movement to bring out character.</li>
            <li>Interpret the work of a writer under the instruction and support of a director.</li>
            <li>Improvise the reactions of a character to a situation.</li>
            <li>Work in live stage performances of the classics and community theatre, soap operas, radio work and film parts.</li>
            <li>Prepare for and attend numerous auditions.</li>
            <li>Do voice-overs for advertisements or recording 'talking books' for CDs.</li>
            <li>Research for a part by reading material or shadowing a person similar to the character being portrayed.</li>
            <li>Work as a walk-on or extra in television or film.</li>
            <li>Discuss interpretation and delivery with other members of the company and the director.</li>
            <li>Improve performance based on feedback from the director.</li>
            <li>Collaborate with other actors as part of an ensemble.</li>
          </ul>
      </div>
      <div>
        <h2>Interested?</h2>
        <button style="width: 75%; height:20px; margin-bottom: 10px;" onclick="alert('Your application is submitted!!')">Apply</button>
        <a routerLink="/productionDetails"><button style="width: 75%; height:20px;">Back</button></a>
      </div>
    </div>
</div>
<div style="width:100%; height:90px;"></div>
