<h1>Create/Edit Profile</h1>
<br>
<div id=regForm>
  <label>Email:</label>
  <div><input type="text" placeholder="example@mail.com"></div>
  <label>Password:</label>
  <div><input type="text" placeholder="Password"></div>
  <div><input type="text" placeholder="Confirm Password"></div>
  <label>Primary Role</label>
  <div><select name = "Roles" >
          <option value={{roles[0]}}>{{roles[0]}}</option>
          <option value={{roles[1]}}>{{roles[1]}}</option>
          <option value={{roles[2]}}>{{roles[2]}}</option>
          <option value={{roles[3]}}>{{roles[3]}}</option>
        </select>
  </div>
  <label>Upload Profile Picture</label>
  <div><button style="margin-top: 20px;">Browse from local PC</button></div>
  <label>Skills</label>
  <div><input type="text" placeholder="Start typing a skill"></div>
  <label>Experience</label>
  <div><input type="text" placeholder="Type Production"></div>
  <div><button>Add Production</button></div>
  <label for="">Previous Roles</label>
  <div><input type="text" placeholder="Start typing"></div>
</div>
