<h1>User Search</h1>
<div id="search">
  <input type="text" placeholder="Search">
  <div><label>Filter</label><select>
    <option>Name</option>
    <option>Roles</option>
  </select>
</div>
</div>

<h2>Results</h2>
<div class="results" >
    <div class="searchResult">
      <img src="../../assets/profile.png" style="float:left; width:50px; height: 50px;" alt="profile">
      <span><b>John Doe</b></span><br>
      <span style="font-size: small; margin-top: 5px;"><em>Actor</em></span>
    </div>

    <div class="searchResult">
      <img src="../../assets/profile.png" style="float:left; width:50px; height: 50px;" alt="profile">
      <span><b>Tim Pool</b></span><br>
      <span style="font-size: small; margin-top: 5px;"><em>Director</em></span>
    </div>

    <div class="searchResult">
      <img src="../../assets/profile.png" style="float:left; width:50px; height: 50px;" alt="profile">
      <span><b>Chris Evans</b></span><br>
      <span style="font-size: small; margin-top: 5px;"><em>Crew</em></span>
    </div>

    <div class="searchResult">
      <img src="../../assets/profile.png" style="float:left; width:50px; height: 50px;" alt="profile">
      <span><b>Hunter Biden</b></span><br>
      <span style="font-size: small; margin-top: 5px;"><em>Writer</em></span>
    </div>

    <div class="searchResult">
      <img src="../../assets/profile.png" style="float:left; width:50px; height: 50px;" alt="profile">
      <span><b>CJ Spellman</b></span><br>
      <span style="font-size: small; margin-top: 5px;"><em>Actor</em></span>
    </div>
</div>
<div style="width:100%; height:90px;"></div>
