footer{
  background-color: blueviolet;
  padding: 15px;
  justify-content: center;

}

a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: table-cell;
  text-align: center;
}

a:hover{
  background-color: darkmagenta;
}

nav{
  display: table;
  width: 100%;
  table-layout: fixed;
}
