<div><img src="../../assets/profile.png" alt="Profile Picture" width="200px" height="200px"></div>
<h1>Login</h1>
<div id=regForm>
  <div><input type="text" placeholder="Username"></div>
  <div><input type="text" placeholder="Password"></div>
  <div><input type="checkbox" name="StayLoggedIn" id="SLI">Stay Logged In?</div>
  <div><button style="margin-top: 20px;">Login</button></div>
  <div><a href="REPLACE WITH FORGOTTEN PASSWORD LINK">Forgot Password?</a></div>
  <div><a routerLink= "/registration">Register Now</a></div>
</div>
