:host{
  text-align: center;
}
.results{
  color: black;
}
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
div{
  margin-top: 10px;
  margin-bottom: 10px;
}
label{
  margin-right: 5px;
}
#upperLabel{
  margin-bottom: 2px;
}
a{
  color: black;
  text-decoration: none;
}
input{
  margin-bottom: 30px;
  margin-top: 10px;
}
textarea{
  margin-bottom: 30px;
  margin-top: 10px;
}
