<br>
<br>
<h1>Forgot Password</h1>
<div id=regForm>
  <p>Please enter your new password.</p>


  <div [formGroup]="NewPassword"><input type="text" placeholder="New Password" class="form-control" formControlName="Password1"></div>
  <div [formGroup]="NewPassword"><input type="text" placeholder="Confirm New Password" class="form-control" formControlName="Password2"></div>
  <p *ngIf="!samePassword">PLease make sure the passwords match.</p>
  <div><button class="btn btn-primary" (click)="savePassword()" style="margin-top: 20px;">Login</button></div>
</div>
