
<div class="container-fluid">
<form [formGroup]="forgotEmail">
<h1>Forgot Password</h1>

  <p>Please enter your email address associated with your account.</p>

  <div class="form-group">
  	<input [class.is-invalid]="forgotEmail.get('email').invalid && forgotEmail.get('email').touched" type="email" class="form-control" formControlName="email" placeholder="Email"/>
	</div>
  <div *ngIf="(forgotEmail.get('email').invalid && forgotEmail.get('email').touched) || forgotEmail.get('email').dirty">
    <small *ngIf="forgotEmail.get('email').errors?.pattern" class="text-danger">Please provide a valid email address</small>
  </div>
  <br>
  <button (click)="validateEmail()">Submit</button>
</form>
</div>

