/* You can add global styles to this file, and also import other style files */
.container{
  max-width: 1200px;
  margin: 0 auto;
}

button{
  background-color: blueviolet;
  border-radius: 8px;
  color: white;
}
